.profile__block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 18px;
  padding-bottom: 16px;
}

@media screen and (max-width: 890px) {
  .profile__block {
    padding-bottom: 14px;
    gap: 10px;
  }
}
