.form__item {
  margin: 0;
  padding: 30px 0 9px;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__item:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 890px) {
  .form__item {
    width: 238px;
  }

  .form__item:first-of-type {
    padding-top: 0;
  }
}
