.profile__button-redaction-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/Pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  height: 120px;
  display: none;
}

