.elements__button-active {
  background-image: url("../../../images/Group.svg");
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  width: 22px;
  height: 19px;
  display: inline-block;
}

.elements__button-active:hover {
  opacity: 0.5;
}

.elements__button-active:active {
  background-image: url(../../../images/Union.svg);
}
