.form__buttons-edit {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0)
}

@media screen and (max-width: 760px) {
  .form__buttons-edit {
    top: -36px;
    right: 0;
  }
}
